
<section class="section-footer">
    <footer>
        <div class="footer-page-logo">
            <a href="/"><img src="/img/manual_logo.png" alt="" class="footer-logo"></a>
        </div>
        <div class="footer-menu">
            <ul class="footer-list">
                <li class="footer-links"><a href="/">home</a></li>
                <li class="footer-links"><a href="#">contact</a></li>
                <li class="footer-links"><a href="#">about</a></li>
                <li class="footer-links"><a href="#">privacy</a></li>
            </ul>         
        </div>
        <div class="footer-menu2">
            <h4 id="follow">Fique por dentro:</h4>
            <li><a href=""><i class="fa-brands fa-instagram footer-icons"></i></a></li>
            <li><a href=""><i class="fa-brands fa-youtube footer-icons"></i></a></li>
            <li><a href=""><i class="fa-brands fa-github footer-icons"></i></a></li>
            <li><a href=""><i class="fa-brands fa-facebook footer-icons"></i></a></li>
        </div>       
    </footer>
</section>
<div class="footer-text">
    <p>Copyright © <%= new Date().getFullYear()%> Manual da gringa</p> 
</div> 