
<nav id="navBar">
    <div class="brand-logo"><a href="/"><img src="/img/manual_logo.png" alt="" class="nav-logo"></a></div>
    
    <div class="dropdown">
        <a href="#" class="dropdown-toggle" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="fa fa-search"></i>
            <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
            <li>
                <form class="search-form">
                    <input type="text" name="search" placeholder="Search..." class="nav-input">
                    <button type="submit"><i class="fa fa-arrow-right"></i></button>
                </form>
            </li>    
        </ul>
    </div>      

    <div class="menu">
        <ul class="sidebar-links">
            <li><a href="/">blog</a></li>
            <li><a href="/contact">contato</a></li>
            <li><a href="/about">sobre nós</a></li>
        </ul>       
        <ul class="nav-links">
            <li class="hide-on-mobile"><a href="/">blog</a></li>
            <li class="hide-on-mobile"><a href="/contact">contato</a></li>
            <li class="hide-on-mobile"><a href="/about">sobre nós</a></li>
                 
            
        </ul>   
        <a href="#" id="icon-toggle"><i class="fas fa-bars fa-xl" id="icon-open"></i></a>             
    </div>        
</nav>
