<!-- SECTION HEADER -->
<section class="section-heading" style="background-image: url(../img/marcus_nepal.jpeg);">
    <!-- text on landing page -->
    <div class="landing-page">
        <h1 class="index-text">Sobre Nós</h1>
        <h3 class="index-text">Quem somos, de onde viemos, o que comemos... Hoje no Manual da Gringa</h3>
        <i class="fa-solid fa-circle-down fa-xl" id="landing-icon"></i>
    </div>
</section>

<!-- section about -->
<section class="section-about">
    <div class="about-container">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum minima necessitatibus quas optio fugit 
            voluptatum vitae sint cumque velit deserunt magnam, quam commodi quia libero deleniti molestias ullam qui 
            ipsum alias amet. Quae ullam hic soluta, aliquam sed similique labore minus autem enim beatae possimus dolore 
            laboriosam quidem explicabo aperiam, cumque placeat consequatur magnam non ea nisi illum? Consequuntur non 
            dolor quae reprehenderit dolores, natus minus at iusto nihil ratione reiciendis tenetur voluptatibus laudantium
             necessitatibus et distinctio nesciunt quod dolore porro pariatur neque? Dignissimos, est enim. Officia iusto, 
             obcaecati atque reprehenderit, numquam officiis eligendi magnam dolorum distinctio eos quas odit?
        </p>
        <div class="about-page-img">
            <img src="../img/marcus_1.jpg" alt="">
        </div>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum minima necessitatibus quas optio fugit 
            voluptatum vitae sint cumque velit deserunt magnam, quam commodi quia libero deleniti molestias ullam qui 
            ipsum alias amet. Quae ullam hic soluta, aliquam sed similique labore minus autem enim beatae possimus dolore 
            laboriosam quidem explicabo aperiam, cumque placeat consequatur magnam non ea nisi illum? Consequuntur non 
            dolor quae reprehenderit dolores, natus minus at iusto nihil ratione reiciendis tenetur voluptatibus laudantium
             necessitatibus et distinctio nesciunt quod dolore porro pariatur neque? Dignissimos, est enim. Officia iusto, 
             obcaecati atque reprehenderit, numquam officiis eligendi magnam dolorum distinctio eos quas odit?
        </p>
    </div>
</section>