<!-- SECTION HEADER -->
<section class="section-heading" style="background-image: url(../img/qt.jpg);">
    <!-- text on landing page -->
    <div class="landing-page">
        <h1 class="index-text">Contato</h1>
        <h3 class="index-text">Tem história para compartilhar? Quer dar dicas e sugestões?</h3>
        <i class="fa-solid fa-circle-down fa-xl" id="landing-icon"></i>
    </div>
</section>


<!-- section contact -->
<section class="section-contact">
    <div class="contact-container">
        <h4>
            Preencha o formulário abaixo e responderemos o mais breve possível!
        </h4>
        <div class="form-container">
            <form action="">
                <div class="input-group">
                    <input type="text" required>
                    <label for="">Nome</label>
                </div>
                <div class="input-group">
                    <input type="text" required>
                    <label for="">Sobrenome</label>
                </div>
                <div class="input-group">
                    <input type="email" required>
                    <label for="">Email</label>
                </div>
                <div class="textarea-form">
                    <textarea type="text" placeholder="Escreva a sua mensagem aqui..." required></textarea>
                </div>
                <div class="submit-button">
                    <button type="submit" class="btn">Enviar</button>                  
                </div>                
            </form>
        </div>
    </div>
</section>