<!-- SECTION HEADER -->
<section class="section-heading">
    <!-- text on landing page -->
    <div class="landing-page">
        <h1 class="index-text">Visto Férias Trabalho</h1>
        <h3 class="index-text">Partiu Mundão?</h3>
        <i class="fa-solid fa-circle-down fa-xl" id="landing-icon"></i>
    </div>
</section>

<!-- SECTION BLOG -->
<section class="section-main">
    <div class="row blog-content">
        <!-- LEFT COLUMN MD/LG SCREEN -->
        <div class="left-column">
            <div class="container-header">
                <h3>Novidades no blog:</h3>
            </div>
            <!-- card with posts-->
            <a href="#">
                <div class="card">
                    <!-- card image -->
                    <div class="card-img">
                        <img src="https://images.unsplash.com/photo-1594787318286-3d835c1d207f?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="card-post-img">
                    </div>
                    <!-- card body -->
                    <div class="card-body">
                        <div class="card-header">
                            <span class="card-category"><strong>Category</strong></span>
                            <h4 class="card-title">Lorem ipsum dolor sit amet tiae, nihil optio nesciunt fugiat totam illum nostrum dolor, perspiciatis in assumenda modi, iure nobis incidunt suscipit minus?</h4>
                        </div>
                        <div class="card-details">
                            <span class="author">Por: <strong>Marquinhos</strong></span>
                            <span class="date"><i class="fa-regular fa-calendar"></i> 10/10/2010</span>
                            <a href="#" class="read-more-link"><i class="fa-solid fa-circle-arrow-right fa-2xl"></i></a>
                        </div>
                    </div>
                </div>
            </a>
            <!-- card with posts-->
            <a href="#">
                <div class="card">
                    <!-- card image -->
                    <div class="card-img">
                        <img src="https://images.unsplash.com/photo-1594787318286-3d835c1d207f?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="card-post-img">
                    </div>
                    <!-- card body -->
                    <div class="card-body">
                        <div class="card-header">
                            <span class="card-category"><strong>Category</strong></span>
                            <h4 class="card-title">Lorem ipsum dolor  nihil optio nesciunt fugiat totam illum nostrum dolor, perspiciatis in assumenda modi, iure nobis incidunt suscipit minus?</h4>
                        </div>
                        <div class="card-details">
                            <span class="author">Por: <strong>Marquinhos</strong></span>
                            <span class="date"><i class="fa-regular fa-calendar"></i> 10/10/2010</span>
                            <a href="#" class="read-more-link"><i class="fa-solid fa-circle-arrow-right fa-2xl"></i></a>
                        </div>
                    </div>
                </div>
            </a>
            
            <!-- more posts -->
            <div class="more-posts">
                <a href="" class="btn">Mais Posts</a>
            </div>
            <hr class="hr-line" id="posts-hr">           
        </div>
        <!-- RIGHT COLUMN MD/LG SCREEN -->
        <div class="right-column">
            <!-- search bar -->
            <div class="side-container">
                <div class="container-header">
                    <h4>Busca rápida:</h4>
                </div>
                <!-- search form -->
                <form action="">
                    <div class="wrapper blog-page">
                        <input type="text" placeholder="Search here">
                        <button type="submit">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                </form>
            </div>
            <!-- per category -->
            <div class="side-container">
                <div class="container-header">
                    <h4>Por categoria:</h4>
                </div>
                <ul class="categories-list">
                    <li><a href="#">Category 1</a></li>
                    <li><a href="#">Catefory 2</a></li>
                    <li><a href="#">Catefory 3</a></li>
                </ul>
            </div>            
            <!-- subscribe form -->
            <div class="side-container">
                <div class="container-header">
                    <h4>Receba a nossa newsletter:</h4>
                </div>
                <div class="subscribe">
                    <input type="text" placeholder="Digite seu email">
                    <button type="submit">
                        <i class="fa-regular fa-envelope"></i>
                    </button>
                </div>
            </div>
            <!-- about -->
            <div class="side-container">
                <div class="container-header">
                    <h4>Sobre o autor:</h4>
                </div>
                <div class="author-image">
                    <img src="/img/marcus_1.jpg" alt="" id="about-img">
                </div>
                <div class="author-description">
                    <p class="author-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel itaque fugiat tempore asperiores neque mollitia saepe harum deserunt. Mollitia ratione quam a odit earum exercitationem quia accusamus? Quis, omnis dolores. Maxime inventore velit facere assumenda, nobis alias ab quidem incidunt minima, mollitia pariatur itaque error non qui, obcaecati fugiat reprehenderit at? Repudiandae minima illum fugiat in dolorem voluptatem voluptatibus eveniet, vel maiores facere, id aut provident sit laborum, officiis earum sapiente ratione! Ipsa, non odit quisquam magni ullam praesentium? Sit minima totam optio alias autem! Excepturi reiciendis quae, ea aut rem autem earum tempora alias. Iste placeat quas accusamus. Iste!</p>
                </div>
            </div>           
        </div>
    </div>
</section>
