/* GENERAL STYLING */
h1, h2, h3, h4, h5, h6 {
    color: #4682A9 !important;
}

p, span, ul, li {
    color: #30475E !important;
}

.btn-custom {
    background-color: #30475E; /* Default color */
    color: #ffffff; /* Text color */
    transition: background-color 0.3s ease; /* Smooth transition */
}

 .btn-custom:hover {
    background-color: #4682A9; /* Hover color */
    color: #ffffff; /* Text color on hover */
}

.masthead {
    margin-bottom: 0px !important;
}

@media only screen and (min-width: 1000px) {
    .masthead {
        height: 800px !important;
    }
}

/* HEADER */

#landing-page-h1 {
    text-shadow: #F05454 0 0 2px; !important;
}

.index-form {
    border-radius: 10px !important;
}

.btn-index-nav {
    background-color: #30475E !important;
    color: white !important;
}

/* INDEX PAGE - FEATURES SECTION */

.index-page-form {
    border-radius: 12px !important;
}
@media only screen and (min-width: 1000px) {
    .index-page-form {
    min-width: 700px !important;
    }
}


.features {
    background-color: #30475E;
}

.features-icons {
    color: #F05454
}

.features-text {
    color: #F5F5F5 !important;
}
 /* INDEX PAGE - OTHER POSTS SECTION */

.latest-post-card{
    border: none !important;
    background-color: transparent !important;
}

.latest-post-card:hover {
    transform: translateY(-5px);
    background-color: transparent !important;
}

.other-posts {
    background-color: #F5F5F5;
}

.card-main-posts:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

.card-category-text {
    color: #F05454 !important;
}

.search-card-text {
    font-size: 0.6em !important
}

.category-search-text {
    color: #F05454 !important;
}


/* INDEX PAGE - SUBSCRIBE SECTION */

.section-subscribe {
    background-color: #30475E; !important;
}

.index-page-form {
    background-color: #F5F5F5 !important;
}

#subscribe-text {
    color: #F5F5F5 !important;
}

/* SOBRE NOS PAGE */

.section-sobre {
    background-color: #F5F5F5 !important;
}

/* SHOW POST PAGE */
#post_img {
    height: 500px !important;
}

.post-heading {
    color: #F5F5F5 !important;
}

.section-show-post {
    background-color: #F5F5F5 !important;
}

/* NEW OR EDIT POST */

.section-new-post {
    background-color: #F5F5F5 !important;
}

/* REGISTER PAGE */

.section-register {
    background-color: #F5F5F5 !important;
}

/* LOGIN PAGE */

.section-login {
    background-color: #F5F5F5 !important;
}

/* CATEGORIES PAGE */

.section-categories {
    background-color: #F5F5F5 !important;
}

.all-posts:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

/* CONTACT PAGE */

.contact {
    height: 400px !important;
}


/* FOOTER STYLING */

.fa-stack:hover .fa-circle {
      color: #4682A9; /* Change the color to your desired hover color */
    }

.fa-stack .fa-circle {
    color: #30475E
}

/* ADMIN PAGE */
#header-adm {
    height: 300px! important;
    background-color: #30475E
}

