{% extends "base.html" %}
{% from "bootstrap5/form.html" import render_form %}
{% block title %}Admin page{% endblock%}

{% block content %}

<!-- Page Header-->
<header
  class="masthead" id="header-adm">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1 class="features-text">Admin area</h1>
          <span class="subheading features-text">Get shit done!</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- SECTION MAIN PANEL -->
<section class="section-admin py-5">
    <div class="container mt-5">
    <div class="row">
      <div class="col-lg-12">
        <h2>Admin Panel</h2>
        <hr>

        <div class="row">
            <!-- get sent to new post -->
          <div class="col-md-6 col-lg-3 mb-3 mb-sm-0 py-3">
            <div class="card h-100">
              <div class="card-body d-flex flex-column">
                <h5 class="card-title">Novo post</h5>
                <p class="card-text">Clique aqui para criar um novo post.</p>
                   <div class="mt-auto d-flex justify-content-end">
                    <a href="{{url_for('create_post')}}" class="btn btn-primary">→</a>
                  </div>
              </div>
            </div>
          </div>
            <!-- Card with form for adding a new category -->
          <div class="col-md-6 col-lg-3 mb-3 mb-sm-0 py-3">
            <div class="card h-100">
              <div class="card-body d-flex flex-column">
                <h5 class="card-title">Nova categoria</h5>
                <p class="card-text">Clique aqui para criar uma nova categoria.</p>
                   <div class="mt-auto d-flex justify-content-end">
                    <a href="#" class="btn btn-primary">→</a>
                  </div>
              </div>
            </div>
          </div>
            <!-- all posts list -->
          <div class="col-md-6 col-lg-3 mb-3 mb-sm-0 py-3">
            <div class="card h-100">
              <div class="card-body d-flex flex-column">
                <h5 class="card-title">Todos os posts</h5>
                <p class="card-text">Clique para abrir tabela com lista de todos os posts.</p>
                  <div class="mt-auto d-flex justify-content-end">
                    <a href="#" class="btn btn-primary">→</a>
                  </div>
              </div>
            </div>
          </div>
            <!-- lista de usuarios -->
            <div class="col-md-6 col-lg-3 mb-3 mb-sm-0 py-3">
            <div class="card h-100">
              <div class="card-body d-flex flex-column">
                <h5 class="card-title">All users in DB</h5>
                <p class="card-text">Clique para abrir tabela com lista de todos os usuarios.</p>
                 <div class="mt-auto d-flex justify-content-end">
                    <a href="#" class="btn btn-primary">→</a>
                  </div>
              </div>
            </div>
          </div>
            <!-- newsletter subscribers -->
            <div class="col-md-6 col-lg-3 mb-3 mb-sm-0 py-3">
              <div class="card h-100">
                <div class="card-body d-flex flex-column">
                  <h5 class="card-title">Assinantes newsletter</h5>
                  <p class="card-text">Clique para abrir tabela com lista de emails para newsletter.</p>
                    <div class="mt-auto d-flex justify-content-end">
                      <a href="#" class="btn btn-primary">→</a>
                    </div>
                </div>
              </div>
            </div>
            <!-- FAQs -->
            <div class="col-md-6 col-lg-3 mb-3 mb-sm-0 py-3">
              <div class="card h-100">
                <div class="card-body d-flex flex-column">
                  <h5 class="card-title">Todas as FAQs</h5>
                  <p class="card-text">Clique para abrir tabela com lista de FAQs.</p>
                    <div class="mt-auto d-flex justify-content-end">
                      <a href="#" class="btn btn-primary">→</a>
                    </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  
</section>

<!-- SECTION POSTS -->
<section class="admin-details-section py-3">
  <div class="container px-4 py-3 admin-table">
    <h3 class="text-center pb-3">Todos os posts</h3>
    <!-- CHECK IF THERE ARE MESSAGES AND SHOW IF SO -->
    <div class="container w-75">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
          {% if category == 'post_deleted' %}
            <div class="alert alert-success alert-dismissible fade show d-flex justify-content-center" role="alert">
              <span class="mx-5">{{ message }}</span>
              <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
              </button>
            </div>
          {% endif %}
        {% endfor %}
      {% endwith %}
    </div>

    <table class="table table-striped table-hover shadow py-3">
      <thead>
        <tr>
          <th scope="col">Post id</th>
          <th scope="col">Title</th>
          <th scope="col">Date</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for post in posts %}
        <tr>
          <th scope="row">{{ post.id }}</th>
          <td><a href="{{url_for('show_post', post_id=post.id, slug=post.slug )}}" class="href">{{ post.title}}</a></td>
          <td>{{ post.date.strftime('%d-%m-%Y') }}</td>
          <td>
            <a href="{{ url_for('edit_post', post_id=post.id, slug=post.slug) }}">Edit</a>
            <span>/</span>
            <a href="{{ url_for('delete_post', post_id=post.id, slug=post.slug) }}" onclick="return confirm('Are you sure you want to delete this post?')">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <hr>
</section>

<!-- SECTION USERS -->
<section class="admin-details-section">
  <div class="container admin-table px-4 py-3">
    <h3 class="text-center pb-3">Todos os usuarios</h3>
    <!-- CHECK IF THERE ARE MESSAGES AND SHOW IF SO -->
    <div class="container w-75">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
          {% if category == 'user_deleted' %}
            <div class="alert alert-success alert-dismissible fade show d-flex justify-content-center" role="alert">
              <span class="mx-5">{{ message }}</span>
              <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
              </button>
            </div>
          {% endif %}
        {% endfor %}
      {% endwith %}
    </div>
    
    <table class="table table-striped shadow table-hover py-3">
      <thead>
        <tr>
          <th scope="col">User id</th>
          <th scope="col">Nome</th>
          <th scope="col">Usuário</th>
          <th scope="col">Email</th>
          <th scope="col">Date</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <th scope="row">{{ user.id }}</th>
          <td>{{ user.name}}</td>
          <td>{{ user.username}}</td>
          <td>{{ user.email }}</td>
          <td> {{ user.date.strftime('%d-%m-%Y') }} </td>
          <td>
            <a href="{{ url_for('delete_user', user_id=user.id)}}" onclick="return confirm('Are you sure you want to delete this user?')">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <hr>
</section>

<!-- SECTION SUBSCRIBERS -->
<section class="admin-details-section">
  <div class="container px-4 py-3 admin-table">
    <h3 class="text-center pb-3">Todos os subscribers</h3>
    <!-- CHECK IF THERE ARE MESSAGES AND SHOW IF SO -->
    <div class="container w-75">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% for category, message in messages %}
        {% if category == 'subscriber_deleted' %}
          <div class="alert alert-success alert-dismissible fade show d-flex justify-content-center" role="alert">
            <span class="mx-5">{{ message }}</span>
            <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
            </button>
          </div>
        {% endif %}
      {% endfor %}
    {% endwith %}
    </div>

    <table class="table table-striped shadow table-hover py-3">
      <thead>
        <tr>
          <th scope="col">Subscriber id</th>
          <th scope="col">Email</th>
          <th scope="col">Date</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for subscriber in subscribers %}
        <tr>
          <th scope="row">{{ subscriber.id }}</th>
          <td>{{ subscriber.email }}</td>
          <td> {{ subscriber.date.strftime('%d-%m-%Y') }} </td>
          <td>
            <a href="{{ url_for('delete_subscriber', subscriber_id=subscriber.id)}}" onclick="return confirm('Are you sure you want to delete this subscriber?')">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <hr>
</section>

<!-- SECTION COMMENTS -->
<section class="admin-details-section">
  <div class="container px-4 py-3 admin-table">
    <h3 class="text-center pb-3">Todos os comentarios</h3>
     <table class="table table-striped shadow table-hover py-3">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Comment</th>
          <th scope="col">Post title</th>
          <th scope="col">Date</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for comment in comments %}
        <tr>
          <th scope="row">{{ comment.id }}</th>
          <td>{{ comment.comment_author.name }}</td>
          <td>{{ comment.text}}</td>
          <td>
            <a href="{{ url_for('show_post', post_id=comment.parent_post.id, slug=comment.parent_post.slug) }}" target="_blank">
              {{ comment.parent_post.title[:30] }} {{ '...' if comment.parent_post.title|length > 30 else '' }}</a>
          </td>
          <td>{{ comment.posted_date.strftime('%d-%m-%Y') }}</td>
          <td>
            <a href="#" class="text-danger delete-comment" data-comment-id="{{ comment.id }}">
              Delete
            </a>            
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <hr>
</section>

<!-- SECTION CATEGORIES -->
<section class="admin-details-section">
  <div class="container px-4 py-3 admin-table">
    <h3 class="text-center pb-3">Todos as categorias</h3>
    <div class="col-lg-8 col-md-10 py-4 px-3 mx-auto my-3 rounded shadow bg-light">
      <h4>Novas categorias</h4>
      <!-- CHECK IF THERE ARE MESSAGES AND SHOW IF SO -->
      <div class="container w-75">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              {% if category == 'category_duplicate' %}
                <div class="alert  alert-danger alert-dismissible fade show d-flex justify-content-center" role="alert">
                  <span class="mx-3">{{ message }}</span>
                  <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
                </div>
              {% elif category == 'category_added' %}
                <div class="alert  alert-info alert-dismissible fade show d-flex justify-content-center" role="alert">
                  <span class="mx-3">{{ message }}</span>
                  <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
                </div>
              {% elif category == 'category_deleted' %}
                <div class="alert  alert-success alert-dismissible fade show d-flex justify-content-center" role="alert">
                  <span class="mx-3">{{ message }}</span>
                  <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
                </div>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>

      <!-- DISPLAY CATEGORY FORM -->
        {{ render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
    </div>
    <table class="table table-striped shadow table-hover py-3">
      <thead>
        <tr>
          <th scope="col">Cateogria id</th>
          <th scope="col">Name</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for category in categories %}
        <tr>
          <th scope="row">{{ category.id }}</th>
          <td>{{ category.name }}</td>
          <td>
            <a href="{{ url_for('delete_category', category_id=category.id)}}" onclick="return confirm('Are you sure you want to delete this category?')">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <hr>
</section>

<!-- SECTION FAQS -->
<section class="admin-details-section">
  <div class="container px-4 py-3 admin-table">
    <h3 class="text-center pb-3">Todos as FAQs</h3>
    <div class="col-lg-8 col-md-10 py-4 px-3 mx-auto my-3 rounded shadow bg-light">
      <h4>Novas perguntas</h4>
      <!-- CHECK IF THERE ARE MESSAGES AND SHOW IF SO -->
      <div class="container w-75">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              {% if category == 'question_duplicate' %}
                <div class="alert  alert-danger alert-dismissible fade show d-flex justify-content-center" role="alert">
                  <span class="mx-3">{{ message }}</span>
                  <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
                </div>
              {% elif category == 'question_added' %}
                <div class="alert  alert-info alert-dismissible fade show d-flex justify-content-center" role="alert">
                  <span class="mx-3">{{ message }}</span>
                  <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
                </div>
              {% elif category == 'question_deleted' %}
                <div class="alert  alert-success alert-dismissible fade show d-flex justify-content-center" role="alert">
                  <span class="mx-3">{{ message }}</span>
                  <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
                </div>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>
      <!-- DISPLAY FAQ FORM -->
        {{ render_form(question_form, novalidate=True, button_map={"submit": "primary"}) }}
    </div>
    <table class="table table-striped shadow table-hover py-3">
      <thead>
        <tr>
          <th scope="col">FAQ id</th>
          <th scope="col">Question</th>
          <th scope="col">Answer</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for question in questions %}
        <tr>
          <th scope="row">{{ question.id }}</th>
          <td>{{ question.question }}</td>
          <td>{{ question.answer }}</td>
          <td>
            <a href="{{ url_for('delete_question', question_id=question.id)}}" onclick="return confirm('Are you sure you want to delete this question?')">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <hr>
</section>

{% endblock %}

{% block script %}
<script>
  $(document).ready(function() {
    // Attach a click event to the delete comment links in the admin section
    $(".admin-table").on("click", ".delete-comment", function(e) {
      e.preventDefault(); // Prevent the default link behavior

      var commentId = $(this).data("comment-id"); // Get the comment ID
      var deleteUrl = "/delete-comment/" + commentId + "?from_admin=true";


      // Save a reference to the current row
      var currentRow = $(this).closest("tr");

      // Send an AJAX request to delete the comment
      $.ajax({
        url: deleteUrl,
        type: "POST",
        success: function(response) {
           // Check if the comment was deleted successfully
            if (response.fromAdmin) {
              // Remove the deleted comment row from the table
              currentRow.remove();
            } else {
              console.error("Comment deletion unsuccessful");
            }          
        },
        error: function(error) {
          console.error("Error deleting comment:", error);
        }
      });
    });
  });
</script>

{% endblock %}