{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead" id="header-adm">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1 class="features-text">Admin area</h1>
          <span class="subheading features-text">Get shit done!</span>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="section-sobre py-5">
    <main class="mb-4">
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 text-center">
              <hr>
                <p> testing </p>
              <hr>
          </div>
        </div>
      </div>
    </main>
</section>

{% include "footer.html" %}