{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead mb-0"
  style="background-image: url('../static/assets/img/qt.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1 class="post-heading">Blog</h1>
          <span class="subheading post-heading">Fique por dentro das novidades!</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- blog main content -->
<section class="bg-light py-5">
    <div class="container mt-0 pt-3">
      <div class="row">
        <div class="col-lg-8">
            <h3 class="pb-4 my-4 border-bottom">
                Últimos posts do blog:
              </h3>
            <!-- SHOW POSTS -->
            {% for post in all_posts %}
          <div class="card latest-post-card mb-3">
              <div class="row my-3 mx-3 lg-8 rounded shadow">
                  <div class="col-lg-4 pt-4">
                      <img src="{{ post.img_url }}" class="card-img" alt="">
                    </div>
                  <div class="col-lg-4 pt-2">
                      <div class="card-body">
                      <a href="{{ url_for('show_post', post_id=post.id) }}">
                          <h6 class="card-title card-category-text">{{post.category.name}}</h6>
                          <h3 class="card-subtitle mb-2">{{post.title}}</h3>
                          <p class="card-text">{{post.intro}}</p>
                      </a>
                      <p class="small card-text">Por:
                          <a href="{{ url_for('sobre_nos')}}">{{post.author.name}}
                          </a><br>Data: {{post.date.strftime('%d/%m/%Y') }}
                          <!-- DELETE POST IF ADM -->
                          {% if current_user.id == 1%}
                          <a href="#"> Delete post ✘</a>
                          {% endif %}
                      </p>
                  </div>
                  </div>
              </div>
          </div>
            {% endfor %}
            
            
            <!-- NEW POST IF ADM -->
            {% if current_user.id == 1 %}
          <div class="d-flex justify-content-end my-4">
            <a
              class="btn btn-primary float-right"
              href="{{ url_for('create_post') }}"
              >Create New Post</a
            >
          </div>
            {% endif %}
        <!-- TO USE REACT IN ORDER TO SHOW 10 POSTS PER TIME -->
          <div class="d-flex justify-content-end mb-4">
            <a class="btn btn-secondary text-uppercase" href="#!">Outros Posts ↓</a>
          </div>
        </div>
    
        <!-- QUICK SEARCH THROUGH POSTS -->
        <div class="col-lg-4">
            <h4 class="py-4 my-4 border-top">
                Busca rápida no blog:
              </h4>
          <form class="my-4" method="POST" action="{{ url_for('search')}}">
              {{ form.hidden_tag() }}
            <div class="input-group">
              <input type="search" class="form-control" placeholder="Busca rápida" aria-label="Busca Rápida" name="busca">
              <button class="btn btn-outline-secondary" type="submit">Buscar</button>
            </div>
          </form>
          <!-- SHOW CATEGORIES -->
            <div class="card-body">
                <h4 class="card-title py-4 my-4 border-top">Por categoria:</h4>
                <ul class="list-group my-1">
                    {% for category_name in all_categories %}
                    <li class="list-group-item">
                        <a href="{{ url_for('post_category', category_name=category_name) }}">{{ category_name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            
            <!-- NEWSLETTER FORM -->
            <h4 class="pt-4 mt-4 border-top">Se inscreva na nossa newsletter</h4>
              <p>Receba todas as nossas novidades direto no seu email!</p>
                <!-- CHECK IF THERE ARE MESSAGES AND SHOW IF SO -->
                  {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-danger alert-dismissible fade show d-flex justify-content-center" role="alert">
                                   <span class="mx-5">{{ message }}</span>
                                  <button type="button" class="btn-danger close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                 <!-- Newsletter Form -->
                 
                <form method="POST" action="{{ url_for('subscribe') }}" class="text-center">
                    {{ form.hidden_tag() }}
                    {{ form.email.label }}
                    {{ form.email }}
                    <button type="submit" class="btn btn-custom mx-5 my-3">Confirmar!</button>
                </form>
            <hr>
        
        </div>
      </div>
    </div>
</section>



{% include "footer.html" %}
