{% include "header.html" %}
{% from "bootstrap5/form.html" import render_form %}

<!-- Page Header-->
<header
  class="masthead border-bottom border-white"
  style="background-image: url('../static/assets/img/GOPR1432.JPG')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-left">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1 class="features-text" id="landing-page-h1">Visto Férias Trabalho</h1>
          <span class="subheading features-text">O mundo agora está ao seu alcance!</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- FEATURES SECTION -->

<section class="section features">
    <div class="container px-4 py-3 d-flex justify-content-center border-bottom">
        <form class="my-2 index-page-form" method="POST" action="{{ url_for('search')}}">
              {{ form.hidden_tag() }}
            <div class="input-group">
              <input type="search" class="form-control" placeholder="Busca rápida" aria-label="Busca Rápida" name="busca">
              <button class="btn btn-outline-secondary" type="submit"><i class="fas fa-search"></i></button>
            </div>
          </form>
    </div>
    <div class="container px-4">
        <div class="row g-4 py-4 row-cols-1 row-cols-lg-3">
          <div class="feature col">
            <div class="container d-flex justify-content-center">
                <span class="fa-stack fa-lg mb-2">
                  <i class="fa-solid fa-passport fa-2xl features-icons"></i>
              </span>
            </div>
            <h4 class="fs-2 text-body-emphasis mt-2 features-text d-flex justify-content-center">Passaporte na mão</h4>
            <p class="features-text">Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
            <hr class="d-lg-none">
          </div>
          <div class="feature col">
            <div class="container d-flex justify-content-center">
                <span class="fa-stack fa-lg mb-2">
                  <i class="fa-solid fa-suitcase fa-2xl features-icons"></i>
              </span>
            </div>
            <h4 class="fs-2 text-body-emphasis mt-2 features-text d-flex justify-content-center">Malas prontas</h4>
            <p class="features-text">Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
            <hr class="d-lg-none">
          </div>
          <div class="feature col">
            <div class="container d-flex justify-content-center">
              <span class="fa-stack fa-lg mb-2">
                  <i class="fa-solid fa-plane fa-2xl features-icons" ></i>
              </span>
            </div>
            <h4 class="fs-2 text-body-emphasis mt-2 features-text d-flex justify-content-center">Partiu Mundão!</h4>
            <p class="features-text">Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
          </div>
        </div>
    </div>
</section>

<!-- LATEST POST SECTION -->
<section class="section latest-post">
    <div class="container py-4">
        <h2 class="mt-3">Tem post novo no blog!</h2>
        <div class="card latest-post-card my-5" style="max-width: 1200px;">
        {% for post in all_posts %}
             {% if loop.first %}
          <div class="row my-3 mx-3 rounded shadow">
            <div class="col-md-4 pt-3">
              <img src="{{ post.img_url }}" class="card-img" alt="">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                  <h6 class="card-category-text">{{ post.category.name }}</h6>
                  <a href="{{ url_for('show_post', post_id=post.id) }}" class="">
                    <h3 class="card-title fst-italic">{{ post.title}}</h3>
                  </a>
                    <p class="card-text">{{ post.intro }}</p>
                  <div class="mt-auto d-flex justify-content-end mb-4">
                    <a href="{{ url_for('show_post', post_id=post.id) }}" class="btn btn-custom text-uppercase">Continue lendo</a>
                  </div>
              </div>
            </div>
          </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

<!-- Parallax Container -->
    <div class="parallax-container">
        <div class="parallax-image" style="background-image: url('../static/assets/img/IMG_8389.jpeg')"></div>
        <div class="parallax-text">
            <h1 id="parallax-text">Partiu mundão !?</h1>
        </div>
    </div>

<!-- OTHER POSTS SECTION -->
<section class="section other-posts py-5">
    <div class="container px-3 px-lg-4">
        <h2>Outros assuntos no blog:</h2>
        <div class="row gx-3 gx-lg-4 my-4 justify-content-center">
            {% for post in all_posts[1:7] %}
            <!-- First Card -->
            <div class="col-md-6 col-lg-4 mb-4">
                <a href="{{ url_for('show_post', post_id=post.id) }}" class="index-page-card-link">
                    <div class="card card-main-posts h-100">
                        <img src="{{ post.img_url }}" class="card-img-top img-fluid" alt="Photo 1">
                        <div class="card-body d-flex flex-column">
                            <h4 class="card-title main-posts-title">{{post.title}}</h4>
                            <hr />
                            <p class="card-text">{{post.intro}}
                            </p>
                            <div class="mt-auto d-flex justify-content-end mb-4">
                                <a href="{{ url_for('show_post', post_id=post.id) }}" class="btn btn-custom text-uppercase">Ler mais <strong>→</strong></a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        {% if current_user.id == 1 %}
        <div class="d-flex justify-content-end mb-4">
            <a class="btn btn-primary float-right" href="{{ url_for( 'create_post') }}">Create New Post</a>
        </div>
        {% endif %}

      <!-- TO BLOG HOMEPAGE -->
      <div class="d-flex justify-content-end mb-4">
        <a class="btn btn-secondary text-uppercase" href="{{ url_for('blog')}}">todos os Posts →</a>
      </div>
    </div>
</section>


<!-- SUBSCRIBE SECTION -->

<section class="section-subscribe py-5">
    <div class="container px-3 px-lg-4">
      <div class="row gx-3 gx-lg-4 d-flex align-items-center justify-content-center">
        <!-- Column 1: Logo and Text -->
        <div class="col-md-4 text-center">
          <img src="{{ url_for('static', filename='assets/img/manual_logo.png') }}" alt="Logo" class="img-fluid" width="300px">
          <p id="subscribe-text">O mundo agora está ao seu alcance!</p>
        </div>
    
        <!-- Column 2: Newsletter Signup -->
        <div class="col-md-8 index-page-form py-4 rounded px-4 text-center">
          <h2>Se inscreva na nossa newsletter</h2>
          <p>Receba todas as nossas novidades direto no seu email!</p>
            <!-- CHECK IF THERE ARE MESSAGES AND SHOW IF SO -->
              {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-danger alert-dismissible fade show d-flex justify-content-center" role="alert">
                               <span class="mx-5">{{ message }}</span>
                              <button type="button" class="btn-danger close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
             <!-- Newsletter Form -->
             
            <form method="POST" action="{{ url_for('subscribe') }}">
                {{ form.hidden_tag() }}
                {{ form.email.label }}
                {{ form.email }}
                <button type="submit" class="btn btn-custom mx-5 my-3">Confirmar!</button>
            </form>
        </div>
      </div>
    </div>
</section>


{% include "footer.html" %}
