<!-- {% from "bootstrap5/form.html" import render_form %} -->
{% include "header.html" %}

<!-- Page Header-->
<header class="masthead"  id="post_img" style="background-image: url('{{ post.img_url }}')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div>
          <h1 class="post-heading">{{post.title}}</h1>
          <h2 class="subheading post-heading">{{post.intro}}</h2>
          <span class="meta post-heading fst-italic"
            >Escrito por
            <a href="#" class="post-heading">{{post.author.name}} </a>
            em {{post.date}}
          </span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- POST CONTENT -->
<section class="section-show-post py-5">
    <article>
      <div class="container px-2 justify-content-center">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-8 col-lg-6 col-xl-8 px-5 bg-white rounded">
              <p>
                  {{ post.body|safe }}
              </p>
            <!--post.body|safe -->
            <!-- ONLY SHOW EDIT BUTTON IF USER ID 1 (ADMIN USER) -->
            <div class="d-flex justify-content-center mb-4">
                <!-- edit post -->
              <a class="btn btn-primary float-right mx-2"
                href="#">Edit Post</a>
                <!-- ONLY SHOW DELETE BUTTON IF USER ID 1 (ADMIN USER) -->
                <a class="btn btn-danger float-right mx-2"
                href="#">Delete Post</a>
            </div>
            
            <!-- Comments Area -->
              <!-- load ckeditor -->
              <!-- Configure it with the name of the form field from CommentForm -->
              <!-- Create the WTFORM quick form from CommentForm -->
              <!-- render form, don't forget submit button -->
            <div class="comment">
              <!-- Show all the comments on a post -->
              <ul class="commentList">
                  <!-- Show all comments -->
                <li>
                  <div class="commenterImage">
                    <img src="comment.comment_author.email | gravatar" />
                  </div>
                  <div class="commentText">
                      <p>comment.text|safe </p>
                    <span class="date sub-text">
                        comment.posted_date.strftime('%B %d, %Y')
                        by <strong>comment.comment_author.name </strong></span>
                      <!-- ALLOW TO DELETE COMMENT IF SAME USER WHO CREATED AND IS LOGGED IN -->
                      <span>
                          <a href="#" class="btn btn-link text-danger"> Delete </a>
                      </span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
            <!-- SIDE DIV WITH OTHER POSTS -->
            <div class="col-md-4 col-lg-3">
              <div class="position-sticky" style="top: 2rem;">
                <div class="p-4 mb-3">
                  <h4 class="fst-italic">Postagens recentes:</h4>
                  <ul class="list-unstyled border-bottom">
                    <li>
                      <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                        <img src="{{ url_for('static', filename='assets/img/qt.jpg') }}" alt="Image" class="img-fluid rounded">
                        <div class="col">
                          <h4 class="mb-0">other_post.title </h4>
                          <p class=" small text-body-secondary">other_post.date</p>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="p-4 mb-3 bg-body-tertiary rounded">
                    <h4 class="fst-italic">Sobre o Autor:</h4>
                    <p class="mb-0">Customize this section to tell your visitors a little bit about your publication, writers, content, or something else entirely. Totally up to you.</p>
                </div>
              </div>
            </div>
        </div>
      </div>
      
    </article>
    
</section>


{% include "footer.html" %}
