{% from "bootstrap5/form.html" import render_form %}
{% extends "base.html" %}
{% block title %}Post{% endblock%}

{% block content %}

<!-- Page Header-->
<header class="masthead"  id="post_img" style="background-image: url('{{ post.img_url }}')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div>
          <h1 class="post-heading">{{post.title}}</h1>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- ARTICLE CONTENT -->
<section class="section-show-post py-5">
    <article>
      <div class="container px-2 justify-content-center">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-8 col-lg-6 col-xl-8 px-5 bg-white rounded">
              <h4 class="subheading mt-3">{{post.intro}}</h4>
              <!-- META AND SHARE ICONS -->
              <div class="d-flex justify-content-between align-items-center mt-3">
                  <span class="meta fst-italic">Escrito por
                    <a href="{{ url_for('sobre_nos')}}" class="">{{post.author.name}} </a>
                    em {{post.date.strftime('%d/%m/%Y')}}
                  </span>
                    <!-- Social Media Icons -->
                    <div class="d-flex">
                        <!-- WhatsApp -->
                        <a href="whatsapp://send?text={{post.intro}} - {{ url_for('show_post', post_id=post.id, _external=True) }}"
                           class="me-3" title="Compartilhar no WhatsApp" >
                            <i class="fab fa-whatsapp"></i>
                        </a>
            
                        <!-- Facebook -->
                        <a href="https://www.facebook.com/sharer/sharer.php?u={{ url_for('show_post', post_id=post.id, _external=True) }}"
                           class="me-3" title="Compartilhar no Facebook" target="_blank">
                            <i class="fab fa-facebook"></i>
                        </a>
            
                        <!-- Twitter -->
                        <a href="https://twitter.com/intent/tweet?url={{ url_for('show_post', post_id=post.id, _external=True) }}&text={{post.intro}}"
                           class="me-3" title="Compartilhar no Twitter" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </div>
                </div>

              <hr class="w-80">
              <!-- POST CONTENT -->
              <p>
                  {{ post.body|safe }}
              </p>
              <hr>
            <!-- ONLY SHOW EDIT BUTTON IF USER ID 1 (ADMIN USER) -->
              {% if current_user.id == 1 %}
            <div class="d-flex justify-content-center mb-4">
                <!-- edit post -->
              <a class="btn btn-primary float-right mx-2"
                href="{{ url_for('edit_post', post_id=post.id)}}">Edit Post</a>
                <!-- ONLY SHOW DELETE BUTTON IF USER ID 1 (ADMIN USER) -->
                <a class="btn btn-danger float-right mx-2"
                href="{{ url_for('delete_post', post_id=post.id)}}">Delete Post</a>
            </div>
              {% endif %}
            
            <!-- Comments Area -->
              {{ ckeditor.load() }} {{ ckeditor.config(name='comment_text') }}
              {{ render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
                
              
            <div class="comment">
              <!-- Show all the comments on a post -->
              <ul class="commentList">
                  <!-- Show all comments -->
                  {% for comment in post.comments | sort(attribute='posted_date', reverse=True) %}
                <li class="border rounded">
                  <div class="commenterImage">
                    <img src="{{comment.comment_author.email | gravatar}}" />
                  </div>
                  <div class="commentText">
                      <p>{{comment.text|safe}} </p>
                    <span class="date sub-text">
                        {{comment.posted_date.strftime('%B %d, %Y')}}
                        by <strong>{{comment.comment_author.name}} </strong></span>
                      <!-- ALLOW TO DELETE COMMENT IF SAME USER WHO CREATED AND IS LOGGED IN -->
                      {% if current_user.is_authenticated and current_user.id == comment.comment_author.id or current_user.id == 1 %}
                      <span>
                          <a href="{{ url_for('delete_comment', comment_id=comment.id) }}" class="btn btn-link text-danger"> Delete </a>
                      </span>
                      {% endif %}
                  </div>
                </li>
                  {% endfor %}
              </ul>
            </div>

            <hr>

              <!-- SHOW AND GO TO CATEGORY PAGE -->
              <div class="container">
                <p class="list-group-item">Mais posts sobre:
                    <a href="{{ url_for('post_category', category_name=post.category.name) }}">{{ post.category.name }}</a>
                </p>
              </div>
         
          </div>
            <!-- SIDE DIV WITH OTHER POSTS -->
            <div class="col-md-4 col-lg-4">
              <div class="position-sticky" style="top: 2rem;">
                <div class="p-4 mb-1">
                  <h4 class="fst-italic">Postagens recentes:</h4>
                  <ul class="list-unstyled">
                      <!-- LOOP THROUGH OTHER POSTS -->
                      {% for other_post in other_posts %}
                      {% if loop.index <= 5 %}
                    <li class="bg-white py-1 px-1 rounded">
                      <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-2 link-body-emphasis text-decoration-none"
                         href="{{ url_for('show_post', post_id=other_post.id) }}">
                        <img src="{{ other_post.img_url }}" alt="Image" class="img-fluid rounded mx-auto d-bloc" width="150px">
                        <div class="col">
                          <h6 class="mb-0 text-center">{{other_post.title}} </h6>
                          <p class="text-center small text-body-secondary">{{other_post.date.strftime('%d/%m/%Y') }}</p>
                        </div>
                      </a>
                    </li>
                      {% endif %}
                      {% endfor %}
                  </ul>
                </div>
                  <!-- TO BLOG HOMEPAGE -->
                  <div class="d-flex justify-content-end mb-4">
                    <a class="btn btn-secondary text-uppercase" href="{{ url_for('blog')}}">todos os Posts →</a>
                  </div>
                <div class="p-4 mb-3 bg-body-tertiary rounded border-top border-bottom">
                    <h4 class="fst-italic">Sobre o Autor:</h4>
                    <div class="text center">
                      <img src="{{ url_for ('static', filename='assets/img/marcus_1.jpg')}}" class="img-fluid rounded">
                    </div>
                    <p class="small mb-0">
                      Nascido na periferia de São Paulo, minha jornada começou aos 22 anos, quando uma oportunidade me levou à Austrália por 5 meses, estendendo-se para 5 anos de estudo, trabalho e descobertas. Explorando mais de 40 países, encontrei minha esposa na Nova Zelândia. Agora, residindo na França, compartilho minha experiência neste blog, incentivando outros a explorarem o mundo com esforço e foco. Com ênfase no visto férias trabalho, este espaço oferece tudo o necessário para iniciar uma jornada transformadora. Junte-se a mim nessa aventura global de superação e descobertas!</p>
                </div>
              </div>
            </div>
        </div>
      </div>
      
    </article>
    
</section>


{% endblock %}
