{% from "bootstrap5/form.html" import render_form %}
{% include "header.html" %}

<!-- Page Header-->
<header class="masthead"  id="post_img" style="background-image: url('{{ post.img_url }}')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div>
          <h1 class="post-heading">{{post.title}}</h1>
          <h2 class="subheading post-heading">{{post.intro}}</h2>
          <span class="meta post-heading fst-italic"
            >Escrito por
            <a href="{{ url_for('sobre_nos')}}" class="post-heading">{{post.author.name}} </a>
            em {{post.date}}
          </span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- POST CONTENT -->
<section class="section-show-post py-5">
    <article>
      <div class="container px-2 justify-content-center">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-8 col-lg-6 col-xl-8 px-5 bg-white rounded">
              <p>
                  {{ post.body|safe }}
              </p>
            <!-- ONLY SHOW EDIT BUTTON IF USER ID 1 (ADMIN USER) -->
              {% if current_user.id == 1 %}
            <div class="d-flex justify-content-center mb-4">
                <!-- edit post -->
              <a class="btn btn-primary float-right mx-2"
                href="{{ url_for('edit_post', post_id=post.id)}}">Edit Post</a>
                <!-- ONLY SHOW DELETE BUTTON IF USER ID 1 (ADMIN USER) -->
                <a class="btn btn-danger float-right mx-2"
                href="{{ url_for('delete_post', post_id=post.id)}}">Delete Post</a>
            </div>
              {% endif %}
            
            <!-- Comments Area -->
              {{ ckeditor.load() }} {{ ckeditor.config(name='comment_text') }}
              {{ render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
              
            <div class="comment">
              <!-- Show all the comments on a post -->
              <ul class="commentList">
                  <!-- Show all comments -->
                  {% for comment in post.comments | sort(attribute='posted_date', reverse=True) %}
                <li>
                  <div class="commenterImage">
                    <img src="{{comment.comment_author.email | gravatar}}" />
                  </div>
                  <div class="commentText">
                      <p>{{comment.text|safe}} </p>
                    <span class="date sub-text">
                        {{comment.posted_date.strftime('%B %d, %Y')}}
                        by <strong>{{comment.comment_author.name}} </strong></span>
                      <!-- ALLOW TO DELETE COMMENT IF SAME USER WHO CREATED AND IS LOGGED IN -->
                      {% if current_user.is_authenticated and current_user.id == comment.comment_author.id %}
                      <span>
                          <a href="{{ url_for('delete_comment', comment_id=comment.id) }}" class="btn btn-link text-danger"> Delete </a>
                      </span>
                      {% endif %}
                  </div>
                </li>
                  {% endfor %}
              </ul>
            </div>
          </div>
            <!-- SIDE DIV WITH OTHER POSTS -->
            <div class="col-md-4 col-lg-3">
              <div class="position-sticky" style="top: 2rem;">
                <div class="p-4 mb-3">
                  <h4 class="fst-italic">Postagens recentes:</h4>
                  <ul class="list-unstyled border-bottom">
                      <!-- LOOP THROUGH OTHER POSTS -->
                      {% for other_post in other_posts %}
                    <li>
                      <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                         href="{{ url_for('show_post', post_id=other_post.id) }}">
                        <img src="{{ other_post.img_url }}" alt="Image" class="img-fluid rounded">
                        <div class="col">
                          <h4 class="mb-0">{{other_post.title}} </h4>
                          <p class=" small text-body-secondary">{{other_post.date.strftime('%d/%m/%Y') }}</p>
                        </div>
                      </a>
                    </li>
                      {% endfor %}
                  </ul>
                </div>
                <div class="p-4 mb-3 bg-body-tertiary rounded">
                    <h4 class="fst-italic">Sobre o Autor:</h4>
                    <p class="mb-0">Customize this section to tell your visitors a little bit about your publication, writers, content, or something else entirely. Totally up to you.</p>
                </div>
              </div>
            </div>
        </div>
      </div>
      
    </article>
    
</section>


{% include "footer.html" %}
