{% extends "base.html" %}
{% block title %}Pesquisa{% endblock%}

{% block content %}

<!-- Page Header-->
<header
  class="masthead mb-0"
  style="background-image: url('../static/assets/img/sunrise_angkorwat.jpeg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1 class="post-heading">Blog</h1>
          <span class="subheading post-heading">Fique por dentro das novidades!</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- blog main content -->

<section class="bg-light py-5">
    <div class="container mt-0 pt-3">
      <div class="row">
        <!-- Main Content (8 grids) -->
        <div class="col-lg-8">
            <h4 class="my-4">
                Posts relacionados a:</h4>
            <h3 class="pb-4 my-4 border-bottom fst-italic category-search-text">{{ busca }}</h3>
            <!-- CHECK IF THERE ARE POSTS AND IF SO DISPLAY THEM -->
            {% if posts %}
            {% for post in posts %}
          <div class="card latest-post-card mb-3">
              <div class="row my-3 mx-3 lg-8 rounded shadow">
                  <div class="col-lg-4 pt-4">
                      <img src="{{ post.img_background }}" class="card-img" alt="">
                    </div>
                  <div class="col pt-2">
                      <div class="card-body">
                      <a href="{{ url_for('show_post', post_id=post.id, slug=post.slug) }}">
                          <h6 class="card-title card-category-text">{{post.category.name}}</h6>
                          <h4 class="card-subtitle mb-2">{{post.title}}</h4>
                          <p class="card-text small">{{post.intro}}</p>
                      </a>
                      <p class="small card-text search-card-text">Postado por:
                          <a href="{{ url_for('sobre_nos')}}">{{post.author.name}}
                          </a> <br>
                          Data: {{post.date.strftime('%d/%m/%Y') }}
                          <!-- DELETE POST IF ADM -->
                          {% if current_user.id == 1%}
                          <a href="#"> Delete post ✘</a>
                          {% endif %}
                      </p>
                  </div>
                  </div>
              </div>
          </div>
            {% endfor %}
            {% else %}
            <p>Nenhum post nessa categoria ainda.</p>
            {% endif %}
            
            <!-- New Post if adm-->
             {% if current_user.id == 1 %}
          <div class="d-flex justify-content-end my-4">
            <a
              class="btn btn-primary float-right"
              href="{{url_for('create_post')}}"
              >Create New Post</a
            >
          </div>
                {% endif %}
          
        <!-- Pager-->
          <div class="d-flex justify-content-end mb-4">
            <a class="btn btn-secondary text-uppercase" href="#!">Outros Posts ↓</a>
          </div>
        </div>
    
        <!-- QUICK SEARCH THROUGH POSTS -->
        <div class="col-lg-4">
            <h3 class="pb-4 my-4 border-bottom">
                Busca rápida no blog:
              </h3>
          <form class="my-4" method="POST" action="{{ url_for('search')}}">
              {{ form.hidden_tag() }}
            <div class="input-group">
              <input type="search" class="form-control" placeholder="Busca rápida" aria-label="Busca Rápida" name="busca">
              <button class="btn btn-outline-secondary" type="submit">Buscar</button>
            </div>
          </form>
            
            <!-- SHOW CATEGORIES -->
            <div class="card-body">
                <h5 class="card-title mb-3">Por categoria:</h5>
                <ul class="list-group my-1">
                    {% for category_name in all_categories %}
                    <li class="list-group-item">
                        <a href="{{ url_for('post_category', category_name=category_name) }}">{{ category_name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            
        </div>
      </div>
    </div>
</section>



{% endblock %}
