{% extends "base.html" %}
{% block title %}Sobre Nós{% endblock%}

{% block content %}
<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/marcus_nepal.jpeg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1 class="features-text">Sobre nós</h1>
          <span class="subheading features-text">Quem somos, de onde viemos, do que nos alimentamos, hoje no Manual da Gringa!</span>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="section-sobre py-5">
    <main class="mb-4">
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 text-center">
              <hr>
            <p>
              Bem-vindo ao meu universo de descobertas e superações! Nasci e cresci na periferia de São Paulo, 
              onde aprendi a valorizar cada oportunidade que a vida me proporcionou. 
              Aos 22 anos, o destino me conduziu a uma experiência única na Austrália, inicialmente planejada para 5 meses, 
              mas que se estendeu por 5 anos. 
              Durante esse tempo, dediquei-me ao estudo do inglês e ao trabalho árduo para me sustentar.
            </p>
            <p>
              O espírito aventureiro que me impulsionou na Austrália levou-me a explorar a Nova Zelândia por 2 anos, onde, 
              de maneira inesperada, encontrei minha alma gêmea, uma encantadora francesa que compartilhava a mesma paixão por descobertas. 
              Após uma emocionante volta ao globo em 8 meses, decidimos fincar nossas raízes na pitoresca região de Annecy, na França.
            </p>
            <p>
              Com mais de 40 países marcando meu passaporte, tive o privilégio de conhecer pessoas de todas as partes do mundo.
               Agora, através deste blog, meu desejo é compartilhar essa jornada única e inspirar outros a compreenderem que,
                com esforço, dedicação e foco, qualquer pessoa pode trilhar o mesmo caminho. 
                O visto férias trabalho, que tive a sorte de obter, tornou-se a porta de entrada mais acessível, 
                e aqui no blog, você terá acesso a tudo o que precisa para começar sua própria jornada de exploração pelo mundo. 
              Junte-se a mim nesta aventura transformadora!
            </p>
              <hr>
              <img src="{{ url_for('static', filename='assets/img/IMG_9484.jpeg') }}" alt="Logo" class="img-fluid rounded">
          </div>
        </div>
      </div>
    </main>
</section>

{% endblock%}