{% extends "base.html"%}
{% from "bootstrap5/form.html" import render_form %}
{% block title %}Login{% endblock%}

{% block content %}
<!-- Page Header-->
<header
  class="masthead border-bottom border-white user-admin-header" 
  style="background-image: url('../static/assets/img/background3.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-left">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
            <!-- MESSAGE WHEN REGESTERING SUCCESSFULLY -->
            {% for message in get_flashed_messages() %}
                  <div class="alert alert-success alert-dismissible fade show" role="alert">
                      {{ message }}
                    <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
                    </button>
                  </div>
                {% endfor %}
          <h1 class="features-text user-h1">Olá, {{ name|title}}</h1>
          <span class="subheading features-text">O mundo agora está ao seu alcance!</span>
          <br>
          <div class="container">
            <a href="{{url_for('blog')}}" class="btn btn-custom">IR PARA O BLOG</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- user details section -->
<section class="user-details-section">
  <div class="container py-3 my-3">
    <div class="card mb-3">
      <div class="row g-0">        
        <div class="col-md-4">
          <img src="{{ url_for('static', filename='assets/img/profile_pic.png')}}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title mt-2">Nome: {{ current_user.name }}</h5>
            <p class="card-text"> <strong>Usuário: </strong> {{ current_user.username }}
              <br> <strong> Email: </strong> {{ current_user.email }}
              <br> <strong>Membro desde:</strong> {{ current_user.date.strftime('%d-%m-%Y') }}
            </p>
            <div class="container">
              <a class="btn btn-custom btn-sm mx-2" href="#">Editar Perfil</a>
              <a class="btn btn-danger btn-sm mx-2" href="{{url_for('delete_user', user_id=current_user.id)}}">Deletar Perfil</a>
            </div>        
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- update profile section -->

<section class="update-profile-section py-3">
  <div class="container py-3 my-2 shadow">
    <div class="row my-4">
      <h4 class="py-3 text-center">Precisa atualizar o seu perfil?</h4>
        <div class="col-lg-8 col-md-10 mx-auto">
          <!-- RENDER SIGN UP FORM AND SUBMIT BUTTON -->
            {{ render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
        </div>
    </div>
  </div>
</section>

{% endblock%}