{% extends "base.html"%}
{% from "bootstrap5/form.html" import render_form %}
{% block title %}Login{% endblock%}

{% block content %}
<!-- Page Header-->
<header
  class="masthead border-bottom border-white user-admin-header" 
  style="background-image: url('../static/assets/img/background3.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-left">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
            <!-- MESSAGE WHEN REGESTERING SUCCESSFULLY -->
            {% for message in get_flashed_messages() %}
                  <div class="alert alert-success alert-dismissible fade show" role="alert">
                      {{ message }}
                    <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
                    </button>
                  </div>
                {% endfor %}
          <h1 class="features-text user-h1">Olá, {{ name|title}}</h1>
          <span class="subheading features-text">O mundo agora está ao seu alcance!</span>
          <br>
          <div class="container">
            <a href="{{url_for('blog')}}" class="btn btn-custom">IR PARA O BLOG</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- user section -->

<section class="user-profile-section">
  <div class="container py-5">
    <div class="row my-4">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
          <div class="alert alert-success alert-dismissible fade show d-flex justify-content-center" role="alert">
              <span class="mx-5">{{ message }}</span>
            <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
        <div class="col-lg-8 col-md-10 mx-auto">
          <!-- RENDER SIGN UP FORM AND SUBMIT BUTTON -->
            {{ render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
        </div>
    </div>
  </div>
</section>

{% endblock%}